<ng-template #buildLogsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Build logs</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <div class="output p-3">
      <div *ngFor="let line of build?.output">{{ line }}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="button button--medium button--contained" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<div class="loading-container"
			*ngIf="loading">
  <ai-loading></ai-loading>
</div> 